<h2 mat-dialog-title>Configure S3 settings</h2>

<div mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="SavedData()" class="s3-form">
    <mat-form-field appearance="fill">
      <mat-label>Region</mat-label>
      <input matInput placeholder="us-east-2" formControlName="region" />
      <mat-hint>The region you have your S3 instance in.</mat-hint>
      <mat-error>Region is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Endpoint</mat-label>
      <input
        matInput
        formControlName="endpoint"
        type="text"
        placeholder="https://us-east-2.amazonaws.com/bucketname"
      />
      <mat-hint>The endpoint for your S3 bucket</mat-hint>
      <mat-error>The endpoint is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Access Key</mat-label>
      <input
        matInput
        formControlName="accessKeyId"
        placeholder="Your S3 access key ID"
      />
      <mat-hint>Your S3 Access Key</mat-hint>
      <mat-error>The Access Key Id is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Secret Key</mat-label>
      <input
        matInput
        type="password"
        formControlName="secretAccessKey"
        placeholder="Your S3 Secret key"
      />
      <mat-hint>Your S3 Secret key.</mat-hint>
      <mat-error>The Secret Access Key is required.</mat-error>
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <div class="spacer"></div>
  <button mat-raised-button color="primary" (click)="SavedData()">Save</button>
  <button mat-raised-button color="danger" (click)="close()">Cancel</button>
</div>
